a:link {
    color: #4d5198;
    text-decoration: none;
}
/* visited link */
a:visited {
  color: #4d5198;
}
/* mouse over link */
a:hover {
  color: #ccc;
}
/* selected link */
a:active {
  color: #8FC9A3;   
}

body   {
    background-color: #201e20;
}

h1, h2, h3{
    font-family: 'Helvetica Neue';
}

h1{
    font-size: 40px;
    font-weight: 100;
    
    top: 45%;
    left: 50%;
    transform: translate(-37%, -50%);

    position: absolute;
    min-width: 300px;
    color: #4d5198;
    
}

h2 {
    font-size: 13px;
    font-weight: 200;

    top: 45%;
    left: 50%;
    transform: translate(8%, 220%);

    position: absolute;
    color: #4d5198;
}

h3 {
    font-size: 13px;
    font-weight: 200;

    top: 45%;
    left: 50%;
    transform: translate(-26%, 400%);

    position: absolute;
    min-width: 300px;
}